<% if (pagination == 2){ %>
  <% page.posts.each(function(post){ %>
    <%- partial('article', {post: post, index: true}) %>
  <% }) %>
  <% if (page.total > 1){ %>
    <nav id="page-nav">
      <%- paginator({
        prev_text: '&laquo; '+__('prev'),
        next_text: __('next')+'&raquo;'
      }) %>
    </nav>
  <% } %>
<% } else { %>
  <% var last; %>
  <% page.posts.each(function(post, i){ %>
    <% var date = post.date.format('MMM YYYY'); %>
    <% if (last != date){ %>
      <% if (last != null){ %>
        </div></section>
      <% } %>
      <% last = date; %>
      <section class="archives-wrap">
        <div class="archive-date-wrap">
          <span href="<%- url_for('archives/') %>" class="archive-date"><%= date %></a>
        </div>
        <div class="archives">
    <% } %>
    <%- partial('archive-post', {post: post, even: i % 2 == 0}) %>
  <% }) %>
  <% if (page.posts.length){ %>
    </div></section>
  <% } %>
<% } %>